body {
  margin: 0;
  padding-bottom: 3rem;
  line-height: 1.3;
  overflow-y: scroll;
  fontFamily: "GothamProMedium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
}
